{% extends "base.html" %}
{% load static %}

{% block head %}

{% endblock head %}

{% block content %}
<div id="chat-log" style="width: 90%; height: 400px; overflow-y: auto; border: 1px solid #ccc; padding: 10px; background-color: white;"></div>
<br>
<input id="chat-message-input" type="text" style="width: 90%;"><br>
<input id="chat-message-submit" type="button" value="Send">
{{ room_name|json_script:"room-name" }}
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const userNickname = localStorage.getItem('user_nickname');
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const chatLog = document.querySelector('#chat-log');
    
        const messageDiv = document.createElement('div');
        messageDiv.style.marginBottom = '10px';
    
        if (data.user == userNickname) {
            // 본인의 메시지: 오른쪽 정렬
            messageDiv.style.textAlign = 'right';
            messageDiv.innerHTML = `${data.message}`;
        } else {
            // 다른 사용자의 메시지: 왼쪽 정렬
            messageDiv.style.textAlign = 'left';
            messageDiv.innerHTML = `<strong>${data.user}:</strong> ${data.message}`;
        }
    
        chatLog.appendChild(messageDiv);
    
        chatLog.scrollTop = chatLog.scrollHeight;
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'user' : userNickname,
            'message': message
        }));
        messageInputDom.value = '';
    };
</script>
{% endblock content %}

