{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
<div class="login-form">
    <p>Login</p>
    <form id="login-form" method="post">
        <div class="login">
            <span class="login-text">아이디</span><input type="text" id="username" placeholder="아이디를 입력해주세요" required>
        </div>
        <div class="login">
            <span class="login-text">비밀번호</span><input type="password" id="password" placeholder="비밀번호를 입력해주세요" required>
        </div>
        <div class="login-btn-line">
            <button type="submit">Login</button>
        </div>
    </form>
</div>
<script src="{% static 'accounts/js/login.js' %}"></script>
{% endblock content %}