{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{% static "css/base.css" %}">

    {% block head %} {% endblock head %}

    <script src="{% static 'js/base.js' %}"></script>

</head>
<body>
    <nav>
            <div class="home">
                <a href="/api/accounts/main/">Home</a>
            </div>
            <div class="service">
                <a href="/api/coach/">Coach service</a>
                <a href="/api/playlist/list/">Playlist</a>
                <a href="/api/posts/list/">Community</a>
            </div>
            <div class="accounts">
                <a id="login-logout-link"></a>
                <a id="signup-profile-link"></a>
            </div>
    </nav>
    <input type="hidden" id="csrf-token" value="{{ csrf_token }}">
    <div class="containor">
        {% block content %}
        
        {% endblock content %}
    </div>
</body>
</html>