/* coach result.css */

@font-face {
    font-family: 'SCoreDream-500';
    font-weight: 500;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream5.woff2) format('woff2'),
}

@font-face {
    font-family: 'SCoreDream-400';
    font-weight: 400;
    font-style: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream4.woff2) format('woff2'),
}

/* 결과 컨테이너 (점수 및 이미지) 중앙 배치 및 패딩  */
.result-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* 플렉스 컨테이너 : 내부 요소들 (이미지 및 점수) 정렬 */
.wrap {
    display: flex;
    align-items: center;
}

/* 이미지 컨테이너 : 오른쪽 마진 */
.image-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* 이미지 크기 조절 및 해당 크기에 맞춰 이미지를 자름 */
.image-container img {
    width: 650px;
    height: auto;
}

.song-title{
    display: flex;
    width: 100%;
}

.song-title .value{
    font-family: 'SCoreDream-500';
    font-size: 22px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 70%;
    /* max-width: 400px; */
}

.song-title .label{
    font-family: 'SCoreDream-400';
    font-size: 30px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-bottom: 40px;
    /* max-width: 400px; */
}

/* 점수 클래스를 중앙에 정렬 및 높이 설정 */
.song-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 400px; 
    margin-right: 90px;
}

/* 리뷰 클래스를 중앙에 정렬하고 마진과 너비 설정 */
.review {
    margin: 20px;
    text-align: center;
    width: 70%;
}

/* 제목 (훈수결과, 한줄평) 폰트와 색상 설정 */
.song-score h1, .review h1 {
    font-family: 'SCoreDream-500';
    font-size: 34px;
    color: #fff;
    margin-bottom: 40px;
}

/* 리뷰 내용 폰트, 색상 및 크기, 굵기 설정 */
.review h2 {
    font-family: 'SCoreDream-400';
    font-size: 26px;
    color: #fff;
    font-weight: 80;
}

/* 점수 항목 (고음, 저음, 총 점수) 플렉스로 정렬 빛 마진 설정 */
.score-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

/* 점수 항목 (고음, 저음, 총 점수) 폰트 및 색상 설정 */
.song-score .score-item span {
    font-family: 'SCoreDream-400';
    font-size: 30px;
    color: #fff;
}

/* 점수 라벨 왼쪽 정렬하고 마진 설정 */
.song-score .score-item span.label {
    text-align: left;
    width: 75%;
}

/* 점수 값 정렬 및 폰트 설정 */
.song-score .score-item span.value {
    width: 75%;
    font-size: 28px;
    font-family: 'SCoreDream-500';    
}
